/*Header*/
.header{
    height: var(--header-height);
    background-color: var(--primary-color);
}
.header__navbar{
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}

.header-item{
    height: var(--header-item);
    display: flex;
    align-items: center;

}
.header-menu{
    height: var(--header-menu);
    display: flex;
    align-items: center;
    justify-content: center;

}
.header__navbar-list{
    list-style: none;
    padding: 0;
    margin: 4px 0 0 0;
}
.header__navbar-item, header__navbar-item-link{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 550;
    margin: 0 10px;
    
    
    
}
header__navbar-item-link:hover{
    cursor: pointer;
    color: white;
    

}
.header-logo{
    width: 150px;

}
.logo-img{
    width: 50px;
}
.header-search {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
  }
  
  .header-search-input {
    border: none;
    outline: none;
    background: transparent;
    margin-right: 5px;
    width: 90%;
  }
  
  .header-search-btn {
    text-decoration: none;
  }
  
  .header-search-btn-img {
    width: 20px;
    height: 20px;
  }

.header-cart{
    width: 140px;
    text-align: center;
}
.cart-img{
    width: 50px;
}


.header-menu-list{
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.header-menu-item{
    display: inline-flex;
    font-size: 1.8rem;
    padding: 15px;
    
    
    
}
.header-menu-item-link{
    text-decoration: none;
    align-items: center;
    color: var(--text-color);


}
.header-menu-item-link:hover{
    color: red;
}

/*viết css cho trang home*/
.heading-intro{
    font-size: 2rem;
}
.grid__column-4{
    margin-top: 5px;
    
    text-align: center;
}
.grid__column-4 p{
    font-size: 1.8rem;
    display: block;
    color: var(--text-color);
    line-height: 1.5;

}
.grid__column-4 img{
    width: 50px;
    
}
/*sản phẩm nổi bật của trang home*/

/*modal*/

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	
}
.modal.modal-login{
	display: none;
}
.modal.modal-register{
	display: none;
}


.modal__overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.modal__body{
	background-color: var(--white-color);
	margin: auto;
	z-index: 1;
	border-radius: 5px;
	width: 500px;
	height: 500px;
}
.auth-form{
	padding: 0 32px;
}
.auth-form__header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.auth-form__heading{
	font-size: 2.2rem;
	font-weight: 400;
	color: var(--text-color);

}
.auth-form__input{
	width: 100%;
	height: 40px;
	margin-top: 10px;
	padding: 0 10px;
}


/*Container*/
.container{
    background-color: var(--background-container);
}
.category{
    
    border-radius: 3px;
}
.category-heading{
    font-size: 2.3rem;
    color: var(--text-color);
   
}
.category-list{
    padding-left: 0;
    list-style: none;
}
.category-items-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 2rem;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    display: block;
  }
  .category-items-link:hover{
    color: rgb(255, 89, 0);
  }

/*Home + tìm kiếm, sắp xếp*/

.home-filter{
    padding: 20px 20px;
    display: flex;
    align-items: center;
    margin-right: 16px;
    
    border-radius: 3px;

}
/* sản phẩm*/
.product-item a{
    text-decoration: none;
}
.product-item-img{
    width: 100%;
    height: 100%;

}
.product-item-name{
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
    line-height: 1.5;

}
.product-item-price{
    font-size: 2rem;
    text-align: center;
    color: red;

}

/*chi tiết sản phẩm*/
.detail-product-img img{
    width: 100%;
    height: 100%;
}

.detail-product-item-name{
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;

}
.detail-product-item-description{
    font-size: 1.6rem;
    text-align: center;
    color: var(--text-color);
    line-height: 1.2;

}
.quantity{
    font-size: 1.6rem;
    color: var(--text-color);

}
.detail-product-item-price{
    font-size: 2rem;
    text-align: center;
    color: red;

}

.form-addtocart{
    margin-top: 50px;
    
}
.form-addtocart form{
    display: flex;
    align-items: center;

}
.quantity label{
    font-size: 2rem;
    color: var(--text-color);
}
.quantity input{
    font-size: 1.6rem;
    color: var(--text-color);
    width: 45px;
}
.buttons button{
    margin-left: 100px;
    width: 150px;
}


/* Footer*/
.footer{
    padding-top: 10px;
    border-top: 4px solid var(--primary-color);
}
.grid__column-footer p{
    font-size: 1.6rem;
    color: var(--text-color);
    padding-top: 5px;
    display: block;

}
.heading-footer{
    font-size: 2rem;
}
.footer-list{
    padding-left: 0;
    list-style: none;
    font-size: 2rem;
}

.footer-link{
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--text-color);
    padding-top: 10px;
    display: block;
    
}



