<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css}">
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
	<div class="app">
		<header class="header">
			<div class="grid">
				<nav class="header__navbar">
					<div class="loggedInUser" th:if="${session.loggedInUser}">
						<ul class="header__navbar-list">
							<li class="header__navbar-item">Xin chào, <span th:text = "${session.loggedInUser.username}"></span></li>
						</ul>
						<ul class="header__navbar-list">
							<li class="header__navbar-item"><a class="header__navbar-item-link" style="text-decoration: none;" th:href="@{/logout}">Đăng xuất</a></li>
						</ul>
					</div>
					<div class="loggedInUser" th:unless = "${session.loggedInUser}">
						<ul class="header__navbar-list" >
							<li class="header__navbar-item">
								<a th:href="@{/register}" id="btn_register" class="header__navbar-item-link" style="text-decoration: none;">Đăng kí</a>
							</li>
							<li class="header__navbar-item">
								<a th:href="@{/login}" id="btn_login" class="header__navbar-item-link" style="text-decoration: none;">Đăng nhập</a>
							</li>
						</ul>
					</div>
					
				</nav>
				<div class="header-item">
					<div class="header-logo">
						<a th:href="@{/}">
							<img class="logo-img" th:src="@{/images/logo.png}" alt="logo">
						</a>
						
					</div>
					<div class="header-search">
						<input type="text" class="header-search-input" placeholder="Nhấp vào để tìm kiếm">
						<a class="header-search-btn">
							<img th:src="@{/images/search.png}" alt="search" class="header-search-btn-img">
						</a>
					</div>
					<div class="header-cart">
						<a th:href="@{/cart}">
							<img th:src="@{/images/cart.png}" alt="" class="cart-img">
						</a>
						

					</div>

				</div>
                <div class="header-menu">
                    <ul class="header-menu-list">
                        <li class="header-menu-item">
                            <a th:href="@{/index(category='Hoa chúc mừng')}" class="header-menu-item-link">Hoa chúc mừng</a>
                        </li>
                        <li class="header-menu-item">
                            <a th:href="@{/index(category='Hoa chia buồn')}" class="header-menu-item-link">Hoa chia buồn</a>
                        </li>
                        <li class="header-menu-item">
                            <a th:href="@{/index(category='Hoa sinh nhật')}" class="header-menu-item-link">Hoa sinh nhật</a>
                        </li>
                        <li class="header-menu-item">
                            <a th:href="@{/index(category='Hoa tình yêu')}" class="header-menu-item-link">Hoa tình yêu</a>
                        </li>
                        <li class="header-menu-item">
                            <a th:href="@{/index(category='Giỏ hoa')}" class="header-menu-item-link">Giỏ hoa</a>
                        </li>
                    </ul>
                </div>
				
			</div>
		</header>
		<div class="container">
			<!-- Grid - Row - Column -->
			<div class="grid">
				<div class="grid__row">
					<div class="grid__column-detail-product">
                        <form th:action="@{/auth/login}" method="post" style="text-align: center; margin-top: 20px; font-size: 2rem;">
                            <label for="username">Tên người dùng:</label>
                            <input type="text" id="username" name="username" required><br><br>
                            
                            <label for="password">Mật khẩu:</label>
                            <input type="password" id="password" name="password" required><br><br>
                            <p th:text = "${error}" th:if = "${error}" style="color: red;"></p>
                            <input type="submit" value="Đăng nhập" class="btn btn--primary">
                            <a th:href="@{/register}">
                                <input type="button" value="Bạn chưa có tài khoản"  class="btn" style="width: 100%; background-color: var(--background-container);">
                            </a>
                            
                    
                        </form>

                    </div>
					
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="grid">
				<div class="grid__row">
					<div class="grid__column-footer">
						<h3 class="heading-footer">Thông tin liên hệ</h3>
						<p>Địa chỉ: Định Công, Hoàng Mai, Hà Nội</p>
						<p>Di động: 0364600823</p>
						<p>Liên hệ: khacngoc1214@gmail.com</p>
					</div>
					<div class="grid__column-footer">
						<h3 class="heading-footer">Liên kết</h3>
						<ul class="footer-list">
							<li class="footer-item">
								<a href="" class="footer-link">Giới thiệu</a>
							</li>
							<li class="footer-item">
								<a href="" class="footer-link">Hoa</a>
							</li>
							<li class="footer-item">
								<a href="" class="footer-link">Giỏ hàng</a>
							</li>
						</ul>
					</div>
					<div class="grid__column-footer">
						<h3 class="heading-footer">Hỗ trợ</h3>
						<ul class="footer-list">
							<li class="footer-item">
								<a href="" class="footer-link">Hỗ trợ mua hàng</a>
							</li>
							<li class="footer-item">
								<a href="" class="footer-link">Hỗ trợ thanh toán</a>
							</li>
							<li class="footer-item">
								<a href="" class="footer-link">Hỗ trợ tư vấn</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</footer>

	</div>

	<div class="modal" id="modal">
		<div id="modal-register" class="modal modal-register">
			<div class="modal__overlay"></div>
			<div class="modal__body">
				<div class="modal_inner">
					<div class="auth-form">
						<div class="auth-form__header">
							<h3 class="auth-form__heading">Đăng kí</h3>
						</div>
						<div class="auth-form__form">
							<form th:action="@{/auth/register}" method="post">
								<div class="auth-form__group">
									<input type="text" class="auth-form__input" id="username" name="username" placeholder="Tên tài khoản">
								</div>
								<div class="auth-form__group">
									<input type="email" class="auth-form__input" id="email" name="email" placeholder="Nhập vào email">
								</div>
								<div class="auth-form__group">
									<input type="password" class="auth-form__input" id="password" name="password" placeholder="Nhập vào mật khẩu">
								</div>
		
								<div class="auth-form__controls" >
									<button class="btn" id="btn_back_fromDK" style="margin-top: 100px; margin-left: 100px;">Trở lại</button>
									<button type="submit" class="btn btn--primary" style="margin-top: 100px; margin-left: 100px;">Đăng kí</button>
								</div>
							</form>
							
	
						</div>
	
					</div>
				</div>
			</div>
		</div>
	
		<div id="modal-login" class="modal modal-login">
			<div class="modal__overlay"></div>
			<div class="modal__body">
				<div class="modal_inner">
					<div class="auth-form">
						<div class="auth-form__header">
							<h3 class="auth-form__heading">Đăng nhập</h3>
						</div>
						<div class="auth-form__form">
							<form th:action="@{/auth/login}" method="post">
								<div class="auth-form__group">
									<input type="text" class="auth-form__input" id="username" name="username" placeholder="Tên tài khoản">
								</div>
								<div class="auth-form__group">
									<input type="password" class="auth-form__input" id="password" name="password" placeholder="Nhập vào mật khẩu">
								</div>
		
								<div class="auth-form__controls" >
									<button class="btn" id="btn_back_fromDN" style="margin-top: 100px; margin-left: 100px;">Trở lại</button>
									<button type="submit" class="btn btn--primary" style="margin-top: 100px; margin-left: 100px;" id="btnlogin">Đăng nhập</button>
								</div>
							</form>
							
	
						</div>
	
					</div>
				</div>
			</div>
		</div>

	</div>
	<script>
		var modal = document.getElementById("modal");
		var registerBtn = document.getElementById("btn_register");
		var loginBtn = document.getElementById("btn_login");
		var registerModal = document.getElementById("modal-register");
		var loginModal = document.getElementById("modal-login");
		var btn_back_fromDK = document.getElementById("btn_back_fromDK");
		var btn_back_fromDN = document.getElementById("btn_back_fromDN")
		var switchLoginBtn = document.getElementById("switch_login");

		// Xử lý khi nhấp vào nút "Đăng kí"
		registerBtn.onclick = function() {
		event.preventDefault();
		modal.style.display = "flex";
		registerModal.style.display = "flex";
		};

		// Xử lý khi nhấp vào nút "Đăng nhập"
		loginBtn.onclick = function() {
		event.preventDefault();
		modal.style.display = "flex";
		registerModal.style.display = "none";
		loginModal.style.display = "flex";
		};
		
		// Xử lý khi nhấp vào nút trở lại
		btn_back_fromDK.onclick = function() {
		event.preventDefault();
		modal.style.display = "none"
    	registerModal.style.display = "none";
    	loginModal.style.display = "none";
		};
		// Xử lý khi nhấp vào nút trở lại
		btn_back_fromDN.onclick = function() {
		event.preventDefault();
		modal.style.display = "none"
    	registerModal.style.display = "none";
    	loginModal.style.display = "none";
		};
	</script>
		
	
</body>
</html>


